<% if user_signed_in? %>
  <h1>シフト希望を提出</h1>

  <% japanese_daynames = ["月曜日", "火曜日", "水曜日", "木曜日", "金曜日", "土曜日", "日曜日"] %>

  <%= form_with(model: [current_user, @tweet], local: true) do |form| %>
    <% (0..6).each do |i| %>
      <div class="card my-3">
        <div class="card-body">
          <h5 class="card-title">シフト希望日</h5>

          <div class="my-3">
            <%= form.label "day_of_week_#{i}", '曜日' %>
            <%= form.select "day_of_week_#{i}", japanese_daynames, include_blank: true, class: "form-control" %>
          </div>

          <div class="my-3">
            <%= form.label :"start_time_#{i}", '開始時間' %>
            <%= form.select :"start_time_#{i}", (8..22).flat_map { |h| (0..55).step(5).map { |m| ["#{format('%02d', h)}:#{format('%02d', m)}", "#{format('%02d', h)}:#{format('%02d', m)}"] } }, include_blank: true, class: "form-control" %>
          </div>

          <div class="my-3">
            <%= form.label :"end_time_#{i}", '終了時間' %>
            <%= form.select :"end_time_#{i}", (8..22).flat_map { |h| (0..55).step(5).map { |m| ["#{format('%02d', h)}:#{format('%02d', m)}", "#{format('%02d', h)}:#{format('%02d', m)}"] } }, include_blank: true, class: "form-control" %>
          </div>
        </div>
      </div>
    <% end %>

    <div class="mt-5">
      <%= form.submit '確認画面へ', class: "btn btn-success mx-3" %>
    </div>
  <% end %>
<% end %>
